@font-face {
  font-family: "LOTR";
  src: url("../fonts/lotr.ttf");
}

ul {
     background-image: url("../images/nav_bg.png");
     background-repeat: repeat-x;
     background-size: auto 100%;
     border-radius: 5px;
     padding: 20px;
     z-index: 2;
}

li {
     border-radius: 5px;
     display: inline;
     margin: 0px;
     overflow: hidden;
}

li a {
     color: #fff;
     padding: 20px;
     text-decoration: none;
}

li a:hover {
    background-image: url("../images/nav_item_bg.png");
    text-decoration: none;
}

li a.active {
     background-image: url("../images/nav_item_bg.png");
}

.lotr-font {
     font-family: LOTR;
     font-size: 25px;
}

.center, img.header-image {
     text-align: center;
}

.citation {
     font-style: italic;
}

body {
     -moz-border-bottom-colors: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background-image: url("../images/bg.png");
     border-color: transparent;
     border-image: url("../images/frame.png") 30 30 30 30 fill round round;
     border-style: solid;
     border-width: 20px;
     font-family: sans-serif;
}

a {
     text-decoration: none;
}

a:hover {
     text-decoration: underline;
}

h1 {
     font-size: 40px !important;
}

a.button {
  padding: 15px;
  background-color:#0a2768;
  color: beige;
}

section.page-content {
    width: 90%;
    font-style: italic;
    margin: auto;
    font-size: 1.25em;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
}

.thumbnail {
     width: 200px;
     box-shadow: 4px 4px 8px 0px #000;
     margin: 15px;
}

.main-info {
  float: left;
  display: inline;
}

.contributors {
  display: inline;
}

.contributorInfo {
  margin-right: 50px;
  display: inline;
}
